<%= css :edit %>
<%= js :edit %>
<script src="/js/jquery-ui.min.js"></script>

<div class="margin-left-50 padding-top-20">
  <h1>Edition</h1>
</div>

<div id="contentEdit">

<a href="/admin" class="return2">Retour à l'admin</a>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"<% unless ["preview", "content", "galerie"].include? @tab%> class="active"<%end%> ><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paramètres</a></li>
        <li role="presentation"<% if @tab=="content"%>  class="active"<%end%> ><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Contenu</a></li>
        <li role="presentation"<% if @tab=="galerie"%>  class="active"<%end%>><a href="#galerie" aria-controls="galerie" role="tab" data-toggle="tab">Galerie</a></li>
        <li role="presentation"<% if @tab=="preview"%>  class="active"<%end%>><a  href="/admin/<%= @post.sha1%>/show" target="_blank">Preview</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        
        <div role="tabpanel" id="home" class="tab-pane margin-top-15<% unless ["preview", "content", "galerie"].include? @tab%> active<%end%>">

          <form action="<%= @form_url %>" method='post' class="form-horizontal">
            <div class="float-left height-150 width-650 border-right-10">
              <div class="row">
                <div class="form-group">
                  <label class="col-sm-3 control-label" >Titre</label>
                  <div class ="col-sm-9 margin-bottom-20">
                      <input type='text' name='titre' value="<%=@post.titre%>" class="form-control col-sm-12" placeholder="Titre">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label class="col-sm-3 control-label " >Meta-keywords</label>
                  <div class ="col-sm-9 margin-bottom-20">
                      <input type='text' name='meta_keywords' value="<%=@post.meta_keywords%>" class="form-control col-sm-12" placeholder="Meta-keywords">
                  </div>
                </div>
              </div>

            </div>

            <div class="float-right square-150 border-soft is-clickable" data-toggle="modal" data-target="#iconModal" title="Modifier l'icône" style="background-image: url('/images/<% if @post.icon %>posts/<%=@post.folder_hash%>/<%=@post.icon.file_icon%><%else%>no-image.jpg<%end%>')">
            </div>

            <button type="submit" class="btn btn-default col-sm-12 margin-top-15">Sauver</button>
          </form>
        </div>

        <div role="tabpanel" id="content" class="tab-pane centered<% if @tab=="content"%> active<%end%>" >
          <form action="<%= @form_url %>" method='post' class="form-horizontal">
            <input type="hidden" name="redirect" value="content">
            <textarea type='text' id="contenthtml" name='content' rows="20" class="form-control"><%=@post.content%></textarea>
            <button type="submit" class="btn btn-default col-sm-12 margin-top-5 margin-bottom-15">Sauver</button>
          </form>
        </div>
        
        <div role="tabpanel" id="preview" class="preview tab-pane<% if @tab=="preview"%> active<%end%>">
          <div id="previewhtml" class=" generica"></div>
        </div>

        <div role="tabpanel" id="galerie" class="tab-pane<% if @tab=="galerie"%> active<%end%>">

          <div class="galerie-row col-sm-12">
            <form method="post" action='/admin/upload' class="form-horizontal" enctype="multipart/form-data" >

              <div class="float-left square-150 border-soft" style="background-size: 150px;"></div>

              <div class="float-right height-150 width-620 border-left-10">
                <input type="hidden" name="id" value="<%=@post.sha1%>">
                <input type='text' name='titre' placeholder="Titre" class="form-control" placeholder="Titre">
                <input type='file' name='myfile[]' class="form-control margin-top-15" multiple>
                <button type="submit" class="btn btn-default margin-top-15 width-100p">Upload</button>
              </div>
            </form>
          </div>

          <%@post.images.each do |img|%>
            <div class="galerie-row col-sm-6">
              <a href="/images/posts/<%=img.post.folder_hash%>/<%=img.file_normal%>" title="Voir l'image en grand" target="_blank">
                <div class="float-left square-150 border-soft" style="background-image: url('/images/posts/<%=img.post.folder_hash%>/<%=img.file_preview%>');background-size: 150px; background-repeat: no-repeat;"></div>
              </a>

              <div class="float-right height-150 width-215 border-left-10">
                <input type="text" id="titre_<%= img.id%>" value="<%= img.titre %>" class="form-control display-inline width-150" readonly="readonly"/>
                <a class="btn btn-default editTitleImage margin-left-10" name="<%= img.id%>" style="margin-top: -2px;">
                  <span class="glyphicon glyphicon-floppy-disk display-none"></span>
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                
                <input type="text" value='!#<%=img.order+1%>' class="form-control margin-top-15 width-150 tbselected display-inline" readonly="readonly" />
                <a href="/admin/img/<%= img.id %>/delete" title="Supprimer" onclick="return confirm('Es-tu sûr de vouloir supprimer cette image ?');" class="btn btn-default margin-left-10">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </div>

            </div>
          <% end %>

            
        </div>


      </div>

    </div>

    <div class="height-50"></div>

</div>


<!-- Modal de modification de l'icone-->
<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Changer l'icône du post</h4>
      </div>
      <form action="/admin/icon" method='post' class="form-horizontal">
        <input type="hidden" id="dx" name="dx" value="0"/>
        <input type="hidden" id="dy" name="dy" value="0"/>
        <input type="hidden" id="width" name="width" value="100"/>
        <input type="hidden" id="height" name="height" value="100"/>
        <input type="hidden" name="post_id" value="<%=@post.sha1%>"/>
        <div class="modal-body text-center">
          <% if @post.images.empty? %>
            Chargez d'abord des images avant de choisir l'icône.
          <% else %>
          <select id="img_id" name="img_id" class="form-control">
            <%@post.images.each do |img|%>
              <option value="<%= img.id%>" data-bordel="<%=img.file_preview%>" ><%= img.titre%></option>
            <% end %>
          </select>
          <img id="iconBase" class="margin-auto img-icon" src="/images/posts/<%=@post.folder_hash%>/<%=@post.images[0].file_preview%>">
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
          <% unless @post.images.empty? %>
          <button type="submit" class="btn btn-primary">Valider</button>
          <% end %>
        </div>

      </form>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){

  Jcropify();
  $("#img_id").on('change', function() {
    var img_file = $("option:selected", this).attr("data-bordel");


    var img = $("<img id='iconBase' />").attr('src', "/images/posts/<%=@post.folder_hash%>/"+img_file).addClass("margin-auto img-icon")
    .load(function() {
      if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
          console.log('broken image!');
      } else {
          $(".jcrop-holder, #iconBase").remove()
          $(".modal-body").append(img)
          Jcropify();
      }
    });
  });

});
</script>
