<!DOCTYPE html>
<html>
<head>
  <title>Copeaux d'Aronde</title>
  <% if @meta_description %><meta name="description" content="<%= @meta_description%>"><% end %> 
  <meta name="keywords" content="<%=@meta_keywords%>">
  <meta name="author" content="Timothée Delay">
  <%= css :layout %>
  <%= js :layout %>

</head>
<body>

<%= yield %>

</body>
</html>

