<!DOCTYPE html>
<html>
<head>
  <title><%= @title%></title>
  <meta name="description" content="<%= @meta_description%>">
  <meta name="keywords" content="<%=@meta_keywords%>">
  <meta name="author" content="Timothée Delay">
  <meta name="p:domain_verify" content="baceabb636de92dd47d1b858674fc37d"/>
  <meta name="google-site-verification" content="LlWwaZ2kssSu-taXrIZPL0UuMD83IBn4WavI4v2-Qk4" />
  <link rel="icon" type="image/png" href="/images/icon-aronde<%=@is_admin %>.gif" />
  <%= css :layout %>
  <%= js :layout %>

</head>
<body>

<%= yield %>

</body>
</html>

