<div class="margin-left-50 padding-top-20">
  <h1>Notifications</h1>
</div>

<div id="contentEdit">
<a href="/admin" class="return2">Retour à l'admin</a>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Email</th>
        <th>Titre</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @notifications.each do |notif| %>
        <tr>
          <td><%= notif.created_at.strftime "%d/%m/%Y %H:%M" %></td>
          <td><%= notif.email %></td>
          <td><%= notif.title %></td>
          <td><%= notif.content %></td>
          <td><a href="/admin/notification/<%= notif.id%>/delete" title="Supprimer" onclick="return confirm('Es-tu sûr de vouloir supprimer cette notification ?');">
            <span class="glyphicon glyphicon-trash btn"></span>
          </a></td>
        </tr>
      <% end %>

    </tbody>
  </table>
    
</div>

<div class="height-50"></div>
