<%= js :page %>
<%= css :page %>

<div class="centered">
	<% if @return_button %> <a href="/admin">Retour à l'admin</a> <%end%>
	<h1 class="title generica">Copeaux d'aronde
	<img src="/images/aronde_title.png"/>
	</h1>
	
	<h2 class="subtitle generica">Mobilier multimatériaux, d'intérieur et d'extérieur, par Timothée Delay</h2>

  <div class="height-50"></div>
	<%= erb(:footer, :collection => @objects, locals: {"footer_class" => "margin-bottom-15"}) %>


	<div id="page" class="arial content">
		<div id="title">
			<h1><%= @post.titre %></h1>
		</div>
		<%= h get_content(@post) %>
		<% if @post.content.match /!#contact/ %>
			<%= erb :contact %>
		<% end %>
	</div>

	<%= erb(:footer, :collection => @objects, locals: {"footer_class" => "margin-top-15"}) %>
  <div class="height-50"></div>

</div>
