<div class="centered">
  <% if @return_button %> <a href="/admin/product">Retour à la liste</a> <%end%>
  <h1 class="title generica">Copeaux d'aronde
  <img src="/images/aronde_title.png"/>
  </h1>
  
  <h2 class="subtitle generica">Mobilier multimatériaux, d'intérieur et d'extérieur, par Timothée Delay</h2>

  <div id="page" class="arial content">
    
    <% if @explications %>
      <div class="explications"><%= @explications %></div>
    <% end %>

    <div id="title">
      <h1>Produits à vendre</h1>
    </div>
    

    <div class="margin-left-20 ">
      Text d'intro à changer. Je peux parler de tout ici. De tout. Et en mettre des tas, en abbatre des tonnes. Mais joliement, de façon grâcieuse.
    </div>
      <hr class="margin-bottom-80">


    <% @products.each do |product| %>

    <div class="product">

      <div class="wrapper">
        <img src="/images/posts/vente/<%=product.image%>" />
        <% if product.sold %>
          <div class="sold"><span>Vendu</span></div>
        <% end %>
      </div>
      <div class="name"><%= product.name %></div>
      <div class="description"><%= product.desc %></div>
      <% if product.more_desc %>
        <div class="read-more-wrap">
          <input type="checkbox" class="read-more-state" id="post-2" />
          <div class="read-more-target"><%= (product.more_desc||"").gsub(/\n/, "<br>") %></div>
            <label for="post-2" class="btn btn-default read-more-trigger"></label>
        </div>
      <% end %>
      <a href="/contact?title=<%= product.name %>" class="btn btn-default margin-top-10" />Demande de renseignements</a>
    </div>

    <hr>
    <% end %>    
  </div>

  <div class="height-50"></div>

</div>
